---
type TextBlock = {
  heading: string;
  text: string;
  iconSource: string;
};
const items: TextBlock[] = [
  {
    heading: "יחס אישי",
    text: "העבודה היא רק מולי, בלי בירוקרטיה של סוכנויות וחברות גדולות",
    iconSource: "/icons/personal-work.svg",
  },
  {
    heading: "התאמה אישית וממוקדת",
    text: "מתמקדים בנקודות חשובות ליום יום של העסק ומייעלים תהליכים חשובים",
    iconSource: "/icons/target.svg",
  },
  {
    heading: "תהליך פשוט",
    text: "שיחה קצרה להבנת העסק - מיפוי נקודות חולשה - תכנון - פיתוח ותוצר",
    iconSource: "/icons/click.svg",
  },
  {
    heading: "ליווי לאורך כל הדרך",
    text: "זמינות מלאה לכל שאלה שעולה, התאמה לצרכים חדשים שעולים לעסק",
    iconSource: "/icons/hand-shake.svg",
  },
];

const {
  title = "למה לעבוד איתי?",
  buttonPrimary = { text: "אני מעוניין!", href: "#contact" },
} = Astro.props;
---

<section class="px-6 py-14">
  <div class="mx-auto max-w-7xl">
    <h2
      class="mb-6 text-center text-2xl font-semibold text-[rgb(var(--foreground))] underline decoration-violet-500 decoration-3 underline-offset-5 md:text-3xl"
    >
      {title}
    </h2>

    <div class="flex flex-wrap justify-center gap-5">
      {
        items.map(({ heading, text, iconSource }) => (
          <article class="group relative flex w-full flex-col items-center overflow-hidden rounded-xl border-4 border-[rgb(var(--ring))] bg-[rgb(var(--card))] px-6 py-6 text-center shadow-sm sm:w-[calc(50%-0.625rem)] lg:w-[calc(25%-0.9375rem)]">
            {/* Icon + heading block */}
            <div class="flex items-center justify-center gap-2">
              <h3 class="relative z-10 text-xl font-bold text-[rgb(var(--foreground))] underline decoration-violet-500 decoration-3 underline-offset-5 md:text-xl">
                {heading}
              </h3>
              <img
                class="relative z-10 h-5 w-5 invert"
                src={iconSource}
                alt=""
              />
            </div>

            {/* Description text */}
            <p class="text-md relative z-10 mt-1 text-[rgb(var(--foreground))]">
              {text}
            </p>
          </article>
        ))
      }
    </div>
  </div>
  <div class="mt-8 flex justify-center gap-4">
    <a
      href={buttonPrimary.href}
      class="p-5px inline-block rounded-lg bg-[rgb(var(--primary))] px-15 py-3 text-xl font-medium text-[rgb(var(--primary-foreground))] transition hover:opacity-90"
    >
      {buttonPrimary.text}
    </a>
  </div>
</section>
